<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Flask Blog</a></h1>
        <nav>
            <a href="{{ url_for('index') }}">Ana Sayfa</a>
            <a href="{{ url_for('add_post') }}">Yeni Yazı Ekle</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Flask Blog</p>
    </footer>
</body>

</html>